.App {
  text-align: center;
}

.form-group {
  text-align: center;
}

.form-label{
  font-family: cursive;
  font-size: 40px;
}

#formBasicEmail, #formBasicPassword {
  width: 40%;
  text-align: left;
  margin: auto;
}


#buttons {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  margin: auto;
  width: 25%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
